//Color:
$background-color: #f5f5f5;
$color-light: #ffffff; 

$space-unit: 30px;


//Width of the content area:

$content-width: 800px;

//RESPONSIVE SIZE:

$on-phone: 400px;
$on-palm: 600px;
// $on-laptop: 800px !default;
