@import './variables';
@import './mixins';
@import 'reset-css/reset.css';

// Layout

.l-wrap {
  margin: $space-unit * 3 auto;
  width: $content-width;
  @media screen and (max-width: $on-palm ) {
    width: $content-width / 1.5;
  }
  @media screen and (max-width: $on-phone ) {
    margin: $space-unit auto;
    width: $content-width / 3;
  }
}

.title {
  color: $color-green;
  margin: $space-unit;
  text-align: center;
}

.circle {
  color: $color-green;
}

.button {
  padding: 0 $space-unit / 6;
}
