@import '~sass/variables';

.form-admin-task {
  display: flex;
  justify-content: space-between;
  & > label {
    cursor: pointer;

    & > input {
      display: none;
    }
  }
}

.task-completed {
  color: grey;
  text-decoration: line-through;
}
